<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Son_Depremler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Son_Depremler.Properties.Settings>
            <setting name="Dakika" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Ses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DepremSayi" serializeAs="String">
                <value>25</value>
            </setting>
        </Son_Depremler.Properties.Settings>
    </userSettings>
</configuration>